.NavContainer {
  background-color: #3884DA;
  box-shadow: 3px 3px 10px 0 #000;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: clamp(1.5em, 8vw, 2em);
  height: 4em;
  justify-content: space-between;
  position: relative;
  width: 100vw;
  z-index: 2;
}

.logo {
  color: #D9A21B;
  font-family: 'Rock Salt', cursive;
  font-size: clamp(.85em, 5vw, 2.5em);
  height: max-content;
  margin-left: 1em;
  margin-top: 1em;
  text-decoration: none;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px white;
  z-index: 3;
}

.BurgerContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  position: relative;
  right: 0.5em;
  top: 0;
  z-index: 3;
}

.burgerbars {
  position: relative;
}

.burgerbars,
.burgerbars::before,
.burgerbars::after {
  background-color: #FFF;
  border-radius: 10px;
  height: 0.25em;
  transition: transform 350ms ease, opacity 300ms linear;
  width: 2em;
  z-index: 2;
}

.burgerbars::before,
.burgerbars::after {
  content: '';
  position: absolute;
}

.burgerbars::before {
  top: -.75em;
}

.burgerbars::after {
  top: .75em;
}

.burgeropen {
  position: relative;
  transform: rotate(45deg)
}

.burgeropen,
.burgeropen::before,
.burgeropen::after {
  background-color: #FFF;
  border-radius: 10px;
  height: 0.25em;
  transition: transform 350ms ease, opacity 300ms linear;
  width: 2em;
  z-index: 2;
}

.burgeropen::before,
.burgeropen::after {
  content: '';
  position: absolute;
}

.burgeropen::before {
  opacity: 0;
  top: -.75em;
}

.burgeropen::after {
  top: .75em;
  transform: rotate(90deg) translateX(-.75em);
}

.UlContainer {
  display: flex;
  background-color: #3884DA;
  flex-flow: column nowrap;
  height: 100vh;
  list-style: none;
  position: absolute;
  right: 0;
  top: 2.75em;
  transition: transform 350ms ease;
  width: 100%;
  z-index: 2;
}

.UlContainerOpen {
  display: flex;
  background-color: #3884DA;
  flex-flow: column nowrap;
  height: 100vh;
  list-style: none;
  position: absolute;
  right: 0;
  top: 2.75em;
  transform: translateY(-100%);
  transition: transform 350ms ease;
  width: 100%;
  z-index: 2;
}

.navLinkContainer {
  color: #FFF;
  opacity: 1;
  padding: 1.125em 0.625em;
  text-align: right;
  text-decoration: none;
  transition: opacity 500ms linear 300ms;
}

.navLinkContainerOpen {
  color: #FFF;
  opacity: 0;
  padding: 1.125em 0.625em;
  text-align: right;
  text-decoration: none;
  transition: opacity 125ms linear;
}

@media (min-width: 768px) {
  .logo {
    margin-top: .5em;
  }
}

@media (min-width: 1024px) {
  .NavContainer {
    top: 0;
  }

  .logo {
    margin-left: 1em;
    margin-top: 0;
  }

  .BurgerContainer {
    display: none;
  }

  .UlContainerOpen {
    background-color: unset;
    flex-flow: row nowrap;
    height: max-content;
    right: 1em;
    top: 2.75em;
    width: max-content;
  }

  .navLinkContainerOpen {
    opacity: 1;
  }

  .navLinkContainerOpen:last-child {
    padding: unset;
    padding-bottom: 1.125em;
    padding-left: 0.625em;
    padding-top: 1.125em;
  }
}

@media (min-width: 1280px) {
  .logo {
    margin-left: .5em;
    margin-top: -0.25em;
  }

  .UlContainerOpen {
    right: 7em;
  }
}

@media (min-width: 1400px) {
  .logo {
    margin-left: 1em;
    margin-top: -0.45em;
  }

  .UlContainerOpen {
    right: 1em;
    top: 2.75em;
    width: 18em;
  }
}

@media (min-width: 1600px) {
  .logo {
    margin-top: -0.45em;
  }
}