.Container {
  width: 100vw;
}

@media (min-width: 1024px) {
  body {
    overflow: hidden;
  }
}

@media (min-width: 1400px) {
  .Container {
    align-items: unset;
    display: unset;
    justify-content: unset;
  }
}