.AboutContainer {
  display: grid;
  position: relative;
}

.abouttitle {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: max-content;
}

.splitcontainer {
  display: grid;
  font-size: clamp(1em, 3vw, 2em);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  grid-template-columns: 50% 50%;
  padding: 2em;
  position: relative;
  text-align: left;
}

.about2container {
  margin: 0 0 0 1em;
}

.showbtn {
  background-color: #9DB8EE;
  border: none;
  border-radius: 10px;
  bottom: 1.75em;
  font-weight: 575;
  height: 5em;
  position: absolute;
  right: 52em;
  width: 12em;
  z-index: 3;
}

.showbtn:hover {
  cursor: pointer;
}