.AboutContainer {
  align-items: center;
  display: flex;
  flex-flow: column;
  overflow: scroll;
  position: relative;
  top: 1em;
}

.abouttitle {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: max-content;
}

.splitcontainer {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-size: clamp(1em, 3vw, 2em);
  padding: 2em;
  position: relative;
  text-align: left;
}

.about2container {
  margin: 0 0 0 1em;
}

.showbtn {
  background-color: #9DB8EE;
  border: none;
  border-radius: 10px;
  font-weight: 575;
  height: 5em;
  margin-top: 1em;
  width: 12em;
}

.showbtn:hover {
  cursor: pointer;
}