.LandingContainer {
  background-color: #3884DA;
  margin: 2em;
  height: 100vh;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.landingtext {
  height: 50px;
  margin-bottom: 50px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

.fullstack {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(.75em, 7.5vw, 1em);
  animation: slide 5s linear infinite;
}

.graphics {
  font-family: 'Rock Salt', cursive;
  font-size: clamp(.5em, 7.5vw, .75em);
}

.travel {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(.75em, 7.5vw, 1em);
}

.alex {
  width: 50vw;
  max-width: 15em;
  min-width: 7.5em;
  margin-top: 5.6em;
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
