.LandingContainer {
  animation: scale 2s ease-out 1s forwards;
  background-color: #3884DA;
  bottom: .25em;
  display: grid;
  height: 60%;
  justify-content: center;
  margin: 2em;
  position: absolute;
  transform: scale(0.05);
  transform-origin: bottom left;
  width: 63.75%;
}

.landingnavlink {
  animation: appear 2s ease-out 3.1s forwards;
  color: #D9A21B;
  font-family: 'Rock Salt', cursive;
  font-size: clamp(1.75em, 7.5vw, 3.25em);
  opacity: 0;
  text-decoration: none;
  -webkit-text-stroke: 1px white;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.7);
}

.landingrise {
  height: 2.4em;
  margin: 1em 5em 1.1em 2em;
  overflow-y: hidden;
  width: 30vw;
  max-width: 20em;
  min-width: 12em;
}

.landingtext {
  animation: appear 2s ease-out 5s forwards;
  height: max-content;
  list-style: none;
  margin: 0;
  opacity: 0;
}

.landingli {
  animation: rise 7s ease 7s infinite;
  color: white;
  display: inline-block;
  font-size: clamp(1em, 3vw, 2em);
  margin: 0 0 1.75em 0;
}

.alex {
  animation: appear 2s ease-out 7s forwards;
  opacity: 0;
  margin-left: 9em;
  width: 30%;
  max-width: 15em;
  min-width: 7.5em;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  15% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-3em);
    opacity: 1;
  }
  45% {
    transform: translateY(-3em);
    opacity: 1;
  }
  60% {
    transform: translateY(-6em);
    opacity: 1;
  }
  75% {
    transform: translateY(-6em);
    opacity: 1;
  }
  90% {
    transform: translateY(-6em);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.05);
    transform-origin: bottom left;
  }
  25% {
    transform: scale(0.1);
    transform-origin: bottom left;
  }
  50% {
    transform: scale(0.35);
    transform-origin: bottom left;
  }
  75% {
    transform: scale(0.6);
    transform-origin: bottom left;
  }
  100% {
    transform: scale(1);
    transform-origin: bottom left;
  }
}

@media (max-width: 500px) {
  .LandingContainer {
    bottom: .25em;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    margin: 2em;
    width: 55%;
  }
  
}