.ContactInfoContainer {
  align-items: center;
  animation: pushback 500ms ease 2s forwards;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: center;
  opacity: 0;
  overflow: auto;
  position: absolute;
  transition: opacity 2s linear;
  width: 92%;
  max-width: 38em;
  min-width: 14em;
  z-index: 1;
}

.ContactInfoContainerFade {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: center;
  opacity: 1;
  overflow: auto;
  position: absolute;
  transition: opacity 2s linear;
  width: 92%;
  max-width: 38em;
  min-width: 14em;
  z-index: 1;
}

.closecontact {
  font-size: clamp(1.25em, 3vw, 1.75em);
  position: absolute;
  right: 1em;
  top: 1em;
}

.closecontact:hover {
  cursor: pointer;
}

.contactinfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: max-content;
}

.contact {
  font-size: clamp(.95em, 3vw, 1.75em);
  text-align: left;
}

.contacticon {
  margin-right: .5em;
}

@keyframes pushback {
  0% {
    z-index: 1;
  }
  100% {
    z-index: -1;
  }
}