.LandingNavContainer {
  padding-top: 6em;
  transform: rotate(-8deg);
}

.LandingNavContainer a {
  text-decoration: none;
  color: #D9A21B;
  font-family: 'Rock Salt', cursive;
  font-size: clamp(1.75em, 7.5vw, 3.25em);
  -webkit-text-stroke: 1px white;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.7);
  
}