.FormContainer {
  position: relative;
  top: 1.5em;
  width: 100%;
}

.info {
  border: none;
  border-radius: 5px;
  height: 2.5em;
  margin: 1em 0;
  width: 70%
}

.send {
  background-color: #9DB8EE;
  border: none;
  border-radius: 10px;
  font-weight: 575;
  height: 5em;
  margin: 1em 0;
  width: 12em;
}

.send:hover {
  cursor: pointer;
}