.EngineerContainer {
  height: 100%;
  margin-top: 7em;
  position: relative;
}

.EngineerContainer:last-child {
  margin-top: 16em;
}

.Tab {
  background-color: #FFCF59;
  border-radius: 15px 7px 0 0;
  display: flex;
  height: 3em;
  left: .5em;
  position: relative;
  width: 7.8em;
}

.Tab::after {
  background-color: #FFCF59;
  border-radius: 5px;
  content: '';
  left: 5.25em;
  position: relative;
  top: 2.2em;
  transform: rotate(45deg);
  width: 8em;
  z-index: -1;
}

.openbtn {
  background: none;
  border: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.openbtn:hover {
  cursor: pointer;
}

.Paper {
  align-content: space-between;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  height: 292px;
  justify-content: space-between;
  margin-left: 0.75em;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  transform-origin: center;
  transition: transform 2s ease;
  width: 90%;
  z-index: 1;
}

.PaperScale {
  animation-delay: 3s;
  animation-duration: 250ms, 2s;
  animation-fill-mode: forwards;
  animation-name: z-index, stretch;
  animation-timing-function: ease;
  align-content: space-between;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  height: 292px;
  justify-content: space-between;
  margin-left: 0.75em;
  overflow: auto;
  -ms-overflow-style: none;
  position: relative;
  scrollbar-width: none;
  transform: scale(1.5);
  transform-origin: center;
  transition: transform 2s ease 3s;
  width: 90%;
  z-index: 1;
}

.PaperScale::-webkit-scrollbar {
  display: none;
}

.closebtn {
  background: none;
  border: none;
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  opacity: 1;
  position: relative;
  right: -10.5em;
  top: 0.75em;
  transition: opacity 1s linear 3s;
  justify-content: flex-end;
  width: fit-content;
  z-index: 3;
}

.closebtn:hover {
  cursor: pointer;
}

.closebtnhide {
  background: none;
  border: none;
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  opacity: 0;
  position: relative;
  right: -16.5em;
  top: 0.75em;
  transition: opacity 1s linear;
  justify-content: flex-end;
  width: fit-content;
  z-index: 3;
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
}

.projects:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
}

.projects:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
}

.projects:last-child {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
}

.projectlink {
  margin: 0;
  padding: 0;
}

h4 {
  display: flex;
  font-weight: bolder;
  justify-content: center;
  width: 100%;
}

.projectcontainer {
  align-items: center;
  border: 3px solid #3884DA;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 14.92%;
  max-width: 14.92em;
  min-width: 9.92em;
}

.projectcontainer p {
  background-color: rgba(70, 70, 70, 0.75);
  font-size: clamp(.85em 3vw 1em);
  height: 7.5em;
  opacity: 0;
  overflow: auto;
  -ms-overflow-style: none;
  padding: .5em .75em .5em .25em;
  position: absolute;
  scrollbar-width: none;
  top: -1.30em;
}

.projectcontainer p::-webkit-scrollbar {
  display: none;
}

.projectcontainer p span {
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

.description {
  background-color: rgba(70, 70, 70, 0.75);
  border-radius: 5px;
  color: white;
  font-size: clamp(.85em 3vw 1em);
  height: 7.5em;
  margin: 1em 0.45em;
  overflow: auto;
  -ms-overflow-style: none;
  padding: .5em .25em .5em .25em;
  scrollbar-width: none;
}

.description::-webkit-scrollbar {
  display: none;
}

.description span {
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

.fade {
  animation: fade 750ms ease forwards;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: .85em;
  height: 7.5em;
  opacity: 0;
  overflow: auto;
  -ms-overflow-style: none;
  padding: .5em;
  position: absolute;
  scrollbar-width: none;
  top: -1.30em;
}

.thumbnail {
  border-radius: 5px;
  width: 15%;
  max-width: 15em;
  min-width: 10em;
}

.scale {
  animation: scale1 1.5s ease forwards;
  border-radius: 5px;
  left: -.10em;
  position: relative;
  top: -.17em;
  width: 15vw;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-left: .5em;
  width: 100%;
}

.tools p {
  font-size: .7em;
  margin: .2em .25em .1em .25em;
  text-align: left;
}

.tools p:first-child {
  font-size: .75em;
  font-weight: bold;
  text-decoration: underline;
}

.tools p:nth-child(2) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(3) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(4) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(5) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(6) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(7) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(8) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(9) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(10) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:last-child {
  background-color: #FFCF59;
  border-radius: 5px;
}

.github {
  font-size: 1.5em;
}

.githublink {
  color: black;
}

.Folder {
  background-color: #FFCF59;
  border-radius: 20px;
  height: 290px;
  left: 0.5em;
  position: absolute;
  top: 3.5em;
  transform: translateY(0%);
  transition: transform 3s ease 1s;
  width: 95%;
  z-index: 1;
}

.FolderOpen {
  /* animation: rise 3s ease 4s forwards; */
  background-color: #FFCF59;
  border-radius: 20px;
  height: 290px;
  left: 0.4em;
  position: absolute;
  top: 3.5em;
  transform: translateY(92%);
  transition: transform 3s ease;
  width: 95%;
  z-index: 1;
}

.BackFolder {
  background-color: #FFCF59;
  border-radius: 0 20px 20px 20px;
  height: 290px;
  left: 0.5em;
  position: absolute;
  top: 2.5em;
  width: 93%;
  z-index: -1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes rise {
  0% {
    transform: translateY(92%)
  }
  100% {
    transform: translateY(0%);
  }
} */

@keyframes scale1 {
  0% {
    transform: scale(0.98);
    transform-origin: center;
  }
  100% {
    transform: scale(1.1);
    transform-origin: center;
  }
}

@keyframes stretch {
  0% {
    height: 292px;
    margin-left: 0.75em;
    width: 90%
  }
  100% {
    height: 54vh;
    margin-left: 3.35em;
    margin-top: -3.25em;
    width: 62%;
  }
}

@keyframes z-index {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 3;
  }
}

@media (min-width: 320px) {
  .EngineerContainer {
    margin-top: 5em;
  }

  .closebtn {
    right: -12.25em;
  }

  .closebtnhide {
    right: -19em;
  }

  .PaperScale {
    margin-left: 3.8em;
    margin-top: -2em;
  }
}

@media (min-width: 360px) {
  .closebtn {
    right: -14em;
  }

  .closebtnhide {
    right: -22em
  }

  .PaperScale {
    margin-left: 4.25em;
  }
}

@media (min-width: 375px) {
  .EngineerContainer {
    margin-top: 9em;
  }

  .PaperScale {
    margin-left: 0.75em;
    margin-top: 2.75em;
  }
}

@media (min-width: 375px) {
  @media (min-height: 812px) {
    .EngineerContainer {
      margin-top: 18em;
    }
    
    .PaperScale {
      height: 440px;
      margin-left: 4.45em;
      margin-top: -5em;
    }

    .closebtnhide {
      right: -22.75em;
    }  
  }
}

@media (min-width: 400px) {
  .EngineerContainer {
    margin-top: 10em;
  }
  
  .closebtn {
    right: -16em;
  }  
}

@media (min-width: 400px) {
  @media (min-height: 731px) {
    .PaperScale {
      height: 380px;
      margin-left: 4.8em;
      margin-top: -3em;
    }

    .Tab {
      left: 0.65em;
    }

    .Folder {
      left: 0.65em;
    }
    
    .FolderOpen {
      left: 0.5em;
    }

    .BackFolder {
      left: 0.65em;
    }
  }
}

@media (min-width: 400px) {
  @media (min-height: 823px) {
    .EngineerContainer {
      margin-top: 15em;
    }

    .PaperScale {
      height: 440px;
      margin-top: 3em;
    }
  }
}

@media (min-width: 768px) {
  .EngineerContainer {
    margin-top: 24em;
    width: 50%;
  }

  .EngineerContainer:last-child {
    margin-top: 24em;
  }
}

