.EngineerContainer {
  height: 100%;
  margin-top: 7em;
  position: relative;
}

.EngineerContainer:last-child {
  margin-top: 16em;
}

.Tab {
  background-color: #FFCF59;
  border-radius: 15px 7px 0 0;
  display: flex;
  height: 3em;
  left: .5em;
  position: relative;
  width: 7.8em;
}

.Tab::after {
  background-color: #FFCF59;
  border-radius: 5px;
  content: '';
  left: 5.25em;
  position: relative;
  top: 2.2em;
  transform: rotate(45deg);
  width: 8em;
  z-index: -1;
}

.openbtn {
  background: none;
  border: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.openbtn:hover {
  cursor: pointer;
}

.Paper {
  align-content: space-between;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  height: 292px;
  justify-content: space-between;
  margin-left: 0.75em;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  transform-origin: center;
  transition: transform 2s ease;
  width: 90%;
  z-index: 1;
}

.PaperScale {
  animation-delay: 2.75s, 3s;
  animation-duration: 250ms, 2s;
  animation-fill-mode: forwards;
  animation-name: z-index, stretch;
  animation-timing-function: ease;
  align-content: space-between;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  height: 292px;
  justify-content: space-between;
  margin-left: 0.75em;
  overflow: auto;
  -ms-overflow-style: none;
  position: relative;
  scrollbar-width: none;
  transform: scale(1.5);
  transform-origin: center;
  transition: transform 2s ease 3s;
  width: 90%;
  z-index: 1;
}

.PaperScale::-webkit-scrollbar {
  display: none;
}

.closebtn {
  background: none;
  border: none;
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  opacity: 1;
  position: relative;
  right: -10.5em;
  top: 0.75em;
  transition: opacity 1s linear 3s;
  justify-content: flex-end;
  width: fit-content;
  z-index: 3;
}

.closebtn:hover {
  cursor: pointer;
}

.closebtnhide {
  background: none;
  border: none;
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  opacity: 0;
  position: relative;
  right: -16.5em;
  top: 0.75em;
  transition: opacity 1s linear;
  justify-content: flex-end;
  width: fit-content;
  z-index: 3;
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
}

.projectlink {
  margin: 0;
  padding: 0;
}

h4 {
  display: flex;
  font-weight: bolder;
  justify-content: center;
  width: 100%;
}

.projectcontainer {
  align-items: center;
  border: 3px solid #3884DA;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 14.92%;
  max-width: 14.92em;
  min-width: 9.92em;
}

.projectcontainer p {
  background-color: rgba(70, 70, 70, 0.75);
  font-size: clamp(.85em 3vw 1em);
  height: 7.5em;
  opacity: 0;
  overflow: auto;
  -ms-overflow-style: none;
  padding: .5em .75em .5em .25em;
  position: absolute;
  scrollbar-width: none;
  top: -1.30em;
}

.projectcontainer p::-webkit-scrollbar {
  display: none;
}

.projectcontainer p span {
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

.description {
  background-color: rgba(70, 70, 70, 0.75);
  border-radius: 5px;
  color: white;
  font-size: clamp(.85em 3vw 1em);
  height: 7.5em;
  margin: 1em 0.45em;
  overflow: auto;
  -ms-overflow-style: none;
  padding: .5em .25em .5em .25em;
  scrollbar-width: none;
}

.description::-webkit-scrollbar {
  display: none;
}

.description span {
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

.thumbnail {
  border-radius: 5px;
  width: 15%;
  max-width: 15em;
  min-width: 10em;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-left: .5em;
  width: 100%;
}

.tools p {
  font-size: .7em;
  margin: .2em .25em .1em .25em;
  padding: .5em;
  text-align: left;
}

.tools p:first-child {
  font-size: .75em;
  font-weight: bold;
  text-decoration: underline;
}

.tools p:nth-child(2) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(3) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(4) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(5) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(6) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(7) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(8) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(9) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:nth-child(10) {
  background-color: #FFCF59;
  border-radius: 5px;
}

.tools p:last-child {
  background-color: #FFCF59;
  border-radius: 5px;
}

.github {
  font-size: 1.5em;
}

.githublink {
  color: black;
}

.Folder {
  background-color: #FFCF59;
  border-radius: 20px;
  height: 290px;
  left: 0.5em;
  position: absolute;
  top: 3.5em;
  transform: translateY(0%);
  transition: transform 3s ease 1s;
  width: 95%;
  z-index: 1;
}

.FolderOpen {
  animation: z-index1 250ms ease 2.75s forwards;
  background-color: #FFCF59;
  border-radius: 20px;
  height: 290px;
  left: 0.4em;
  position: absolute;
  top: 3.5em;
  transform: translateY(92%);
  transition: transform 3s ease;
  width: 95%;
  z-index: 1;
}

.BackFolder {
  background-color: #FFCF59;
  border-radius: 0 20px 20px 20px;
  height: 290px;
  left: 0.5em;
  position: absolute;
  top: 2.5em;
  width: 95%;
  z-index: -1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes rise {
  0% {
    transform: translateY(92%)
  }
  100% {
    transform: translateY(0%);
  }
} */

@keyframes scale1 {
  0% {
    transform: scale(0.98);
    transform-origin: center;
  }
  100% {
    transform: scale(1.1);
    transform-origin: center;
  }
}

@keyframes stretch {
  0% {
    height: 292px;
    margin-left: 0.75em;
    width: 90%
  }
  100% {
    height: 54vh;
    margin-left: 3.35em;
    margin-top: -3.25em;
    width: 62%;
  }
}

@keyframes z-index {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 3;
  }
}

@keyframes z-index1 {
  0% {
    z-index: 1;
  }
  100% {
    z-index: -1;
  }
}

@media (min-width: 320px) {
  .EngineerContainer {
    margin-top: 5em;
  }

  .EngineerContainer:last-child {
    margin-top: 20em;
  }

  .closebtn {
    right: -12.25em;
  }

  .closebtnhide {
    right: -19em;
  }

  @keyframes stretch {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 54vh;
      margin-left: 3.85em;
      margin-top: -3em;
      width: 62%;
    }
  }
}

@media (min-width: 360px) {
  .closebtn {
    right: -14em;
  }

  .closebtnhide {
    right: -22em
  }

  @keyframes stretch {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 54vh;
      margin-left: 4.25em;
      margin-top: -2.35em;
      width: 62%;
    }
  }
}

@media (min-width: 375px) {
  .EngineerContainer {
    margin-top: 9em;
  }

  @keyframes stretch {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 54vh;
      margin-left: 4.45em;
      margin-top: -2.35em;
      width: 62%;
    }
  }
}

@media (min-width: 375px) {
  @media (min-height: 812px) {
    .EngineerContainer {
      margin-top: 18em;
    }

    .closebtnhide {
      right: -22.75em;
    }

    @keyframes stretch {
      0% {
        height: 292px;
        margin-left: 0.75em;
        width: 90%
      }
      100% {
        height: 54vh;
        margin-left: 4.45em;
        margin-top: -4.95em;
        width: 62%;
      }
    }
  }
}

@media (min-width: 400px) {
  .EngineerContainer {
    margin-top: 10em;
  }
  
  .closebtn {
    right: -16em;
  }
}

@media (min-width: 400px) {
  @media (min-height: 731px) {
    .Tab {
      left: 0.65em;
    }

    .Folder {
      left: 0.65em;
    }
    
    .FolderOpen {
      left: 0.5em;
    }

    .BackFolder {
      left: 0.65em;
    }

    @keyframes stretch {
      0% {
        height: 292px;
        margin-left: 0.75em;
        width: 90%
      }
      100% {
        height: 54vh;
        margin-left: 4.85em;
        margin-top: -3.5em;
        width: 62%;
      }
    }
  }
}

@media (min-width: 400px) {
  @media (min-height: 823px) {
    .EngineerContainer {
      margin-top: 15em;
    }

    @keyframes stretch {
      0% {
        height: 292px;
        margin-left: 0.75em;
        width: 90%
      }
      100% {
        height: 54vh;
        margin-left: 4.85em;
        margin-top: -4em;
        width: 62%;
      }
    }
  }
}

@media (min-width: 540px) {
  @media (min-height: 720px) {
    .closebtn {
      right: -22.5em;
    }

    .closebtnhide {
      right: -34em;
    }

    @keyframes stretch {
      0% {
        height: 292px;
        margin-left: 0.75em;
        width: 90%;
      }
  
      100% {
        height: 58vh;
        margin-left: 6.35em;
        margin-top: -2.35em;
        width: 62%;
      }
    }
  }
}

@media (min-width: 768px) {
  .EngineerContainer {
    margin-top: 24em;
    width: 50%;
  }

  .EngineerContainer:last-child {
    margin-top: 24em;
  }

  .PaperScale {
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .PaperScaleLeft {
    align-items: center;
    animation-delay: 2.75s, 3s;
    animation-duration: 250ms, 2s;
    animation-fill-mode: forwards;
    animation-name: z-index, stretchleft;
    animation-timing-function: ease;
    align-content: space-between;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 292px;
    justify-content: space-between;
    margin-left: 0.75em;
    overflow: auto;
    -ms-overflow-style: none;
    position: relative;
    scrollbar-width: none;
    transform: scale(1.5);
    transform-origin: center;
    transition: transform 2s ease 3s;
    width: 90%;
    z-index: 1;
  }

  .PaperScaleLeft::-webkit-scrollbar {
    display: none;
  }

  .PaperScaleLeft .projects:nth-child(3) .thumbnail {
    margin-top: .75em;
  }

  .projects:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .projects:nth-child(3) {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }
  
  .projects:last-child {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  .closebtn {
    right: 2.75em;
    top: -14.25em;
  }

  @keyframes stretch {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 48vh;
      margin-left: 8.5em;
      margin-top: -9.5em;
      width: calc(100% + 7em);
    }
  }

  @keyframes stretchleft {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 48vh;
      margin-left: -15.5em;
      margin-top: -9.5em;
      width: calc(100% + 7em);
    }
  }
}

@media (min-width: 1024px) {
  @media (min-height: 600px) {
    .EngineerContainer {
      margin-top: 4em;
    }
  
    .EngineerContainer:last-child {
      margin-top: 4em;
    }
  
    .closebtn {
      right: 2.75em;
      top: -14.25em;
    }
  
    @keyframes stretch {
      0% {
        height: 292px;
        margin-left: 0.75em;
        width: 90%
      }
      100% {
        height: 48vh;
        margin-left: 11em;
        margin-top: -1em;
        width: calc(100% + 10em);
      }
    }
  
    @keyframes stretchleft {
      0% {
        height: 292px;
        margin-left: 0.75em;
        width: 90%
      }
      100% {
        height: 48vh;
        margin-left: -21em;
        margin-top: -1em;
        width: calc(100% + 10em);
      }
    }
  }
}

@media (min-width: 1024px) {
  @media (min-height: 1366px) {
    .EngineerContainer {
      margin-top: 14em;
    }
  
    .EngineerContainer:last-child {
      margin-top: 14em;
    }
  
    .closebtn {
      right: 2.75em;
      top: -14.25em;
    }
  
    @keyframes stretch {
      0% {
        height: 292px;
        margin-left: 0.75em;
        width: 90%
      }
      100% {
        height: 34vh;
        margin-left: 11em;
        margin-top: -7.5em;
        width: calc(100% + 10em);
      }
    }
  
    @keyframes stretchleft {
      0% {
        height: 292px;
        margin-left: 0.75em;
        width: 90%
      }
      100% {
        height: 34vh;
        margin-left: -21em;
        margin-top: -7.5em;
        width: calc(100% + 10em);
      }
    }
  }
}

@media (min-width: 1280px) {
  .EngineerContainer {
    margin-top: 8em;
  }
  
  .EngineerContainer:last-child {
    margin-top: 8em;
  }

  .Paper {
    margin-left: 1.5em;
  }
  
  .PaperScale {
    margin-left: 1.5em;
  }

  .PaperScaleLeft {
    margin-left: 1.5em;
  }
  
  .closebtn {
    right: 2.75em;
    top: -13.5em;
  }

  .closebtnhide {
    right: -40.5em;
    top: 0.85em;
  }

  .projects .description {
    display: none;
  }

  .fade {
    animation: fade 750ms ease forwards;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: .85em;
    height: 7.5em;
    opacity: 0;
    overflow: auto;
    -ms-overflow-style: none;
    padding: .5em;
    position: absolute;
    scrollbar-width: none;
    top: -1.30em;
  }

  .scale {
    animation: scale1 1.5s ease forwards;
    border-radius: 5px;
    position: relative;
    width: 15%;
    max-width: 15em;
    min-width: 10em;
  }
  
  @keyframes stretch {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 52vh;
      margin-left: 13.75em;
      margin-top: -2.85em;
      width: calc(100% + 12em);
    }
  }
  
  @keyframes stretchleft {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 52vh;
      margin-left: -26.05em;
      margin-top: -2.85em;
      width: calc(100% + 12em);
    }
  }
}

@media (min-width: 1400px) {
  .Paper .closebtnhide {
    right: -40.5em;
    top: 0.85em;
  }

  .PaperScale {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  
  .PaperScale .closebtn {
    right: -19.75em;
    top: -13.6em;
  }
  
  .PaperScale .projects:nth-child(3) {
    top: -.85em;
  }
  
  .PaperScale .projects:nth-child(3) .github {
    position: relative;
    top: 1.15em;
  }
  
  .PaperScale .projects:last-child {
    top: -.9em;
  }
  
  .PaperScale .projects:last-child p:nth-child(4) {
    font-size: 0.69em;
  }
  
  .PaperScale .projects:last-child .github {
    position: relative;
    top: 1.1em;
  }
  
  
  .PaperScaleLeft {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  
  .PaperScaleLeft .closebtn {
    right: -20.15em;
    top: -13.5em;
  }

  .PaperScaleLeft .projects:nth-child(2) {
    position: relative;
    top: -3.6em;
  }

  .PaperScaleLeft .projects:nth-child(2) .tools {
    position: relative;
    top: 3.5em;
  }

  .PaperScaleLeft .projects:nth-child(3) {
    position: relative;
    top: -1.84em;
  }

  .PaperScaleLeft .projects:nth-child(3) .tools {
    position: relative;
    top: 3em;
  }

  .PaperScaleLeft .projects:last-child .tools p:nth-child(3) {
    font-size: .63em;
  }
  
  .projects:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
  }

  .projectcontainer {
    margin-bottom: 2em;
  }

  .tools {
    width: 56%;
  }
  
  @keyframes stretch {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 52vh;
      margin-left: 15.25em;
      margin-top: -4.75em;
      width: calc(100% + 13em);
    }
  }
  
  @keyframes stretchleft {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 52vh;
      margin-left: -28.5em;
      margin-top: -4.75em;
      width: calc(100% + 13em);
    }
  }
}

@media (min-width: 1500px) { 
  .PaperScale .closebtn {
    right: -21.75em;
    top: -12.75em;
  }
  
  .PaperScale .closebtnhide {
    right: -40.5em;
    top: 0.85em;
  }

  
  .PaperScale .projects:nth-child(2) .github {
    bottom: -1.1em;
    position: relative;
  }
  
  .PaperScale .projects:nth-child(3) {
    top: 0.83em;
  }
  
  .PaperScale .projects:nth-child(3) .github {
    top: unset;
  }
  
  .PaperScale .projects:last-child {
    top: .8em;
  }
  
  .PaperScale .projects:last-child .github {
    top: unset;
  }

  .PaperScaleLeft .closebtn {
    right: -22.15em;
    top: -13.5em;
  }

  .PaperScaleLeft .projects:nth-child(2) {
    top: -3.1em;
  }

  .PaperScaleLeft .projects:nth-child(3) {
    top: -1.4em;
  }
  
  @keyframes stretch {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 52vh;
      margin-left: 16.5em;
      margin-top: -3.35em;
      width: calc(100% + 15em);
    }
  }
  
  @keyframes stretchleft {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 52vh;
      margin-left: -31.5em;
      margin-top: -3.35em;
      width: calc(100% + 15em);
    }
  }
}

@media (min-width: 1600px) { 
  .PaperScaleLeft .closebtn {
    right: 2.85em;
    top: -14.25em;
  }

  .closebtn {
    right: 2.75em;
    top: -13.5em;
  }

  .closebtnhide {
    right: -40.5em;
    top: 0.85em;
  }
  
  @keyframes stretch {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 52vh;
      margin-left: 16.5em;
      margin-top: -3.35em;
      width: calc(100% + 15em);
    }
  }
  
  @keyframes stretchleft {
    0% {
      height: 292px;
      margin-left: 0.75em;
      width: 90%
    }
    100% {
      height: 52vh;
      margin-left: -31.5em;
      margin-top: -3.35em;
      width: calc(100% + 15em);
    }
  }
}

