.HomeContainer {
  align-items: center;
  display: grid;
  width: 100vw;
}

.homerise {
  height: 2.4em;
  justify-self: center;
  margin: 2em 0;
  overflow-y: hidden;
  width: 30vw;
  max-width: 20em;
  min-width: 12em;
}

.hometext {
  display: inline-block;
  height: max-content;
  list-style: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  text-align: center;
}

.homeli {
  animation: rise 7s ease 2s infinite;
  display: inline-block;
  font-size: clamp(1em, 3vw, 2em);
  font-weight: 750;
  margin: 0 0 1.75em 0;
}

.splitgrid {
  display: grid;
  grid-template-rows: 50% 50%;
  height: max-content;
  margin: 0;
  padding: .75em;
  position: relative;
  top: -3em;
}

.intro {
  font-size: clamp(1em, 2.25vw, 1.75em);
  grid-row: 1 / 2;
  height: max-content;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  width: 100%;
  max-width: 30em;
  min-width: 15em;
}

.alexdrawing {
  bottom: -4.75em;
  grid-row: 2 / 2;
  margin: 0;
  position: relative;
  right: -4em;
  width: 35vw;
  max-width: 25em;
  min-width: 8em;
}

.link {
  bottom: -5.5em;
  grid-row: 2 / 2;
  position: absolute;
  right: 4em;
}

.linkbtn {
  background-color: #9DB8EE;
  border: none;
  border-radius: 10px;
  font-weight: 575;
  height: 5em;
  width: 12em;
}

.linkbtn:hover {
  cursor: pointer;
}

@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  15% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-3em);
    opacity: 1;
  }
  45% {
    transform: translateY(-3em);
    opacity: 1;
  }
  60% {
    transform: translateY(-6em);
    opacity: 1;
  }
  75% {
    transform: translateY(-6em);
    opacity: 1;
  }
  90% {
    transform: translateY(-6em);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 320px) {
  .splitgrid {
    padding: 2em;
    top: -4em;
  }

  .alexdrawing {
    right: unset
  }

  .link {
    right: 1.5em;
    top: 6.5em;
  }

  .linkbtn {
    width: 8em;
  }
}

@media (min-height: 667px) {
  .splitgrid {
    grid-template-rows: 40% 40% 20%;
  }

  .alexdrawing {
    grid-row: 2 / 3;
    right: -5em;
    width: calc(35vw + 3em);
  }

  .link {
    grid-row: 3 / 3;
    right: 6.75em;
    top: 7.5em;
  }

  .linkbtn {
    width: 12em;
  }
}

@media (min-height: 731px) {
  .alexdrawing {
    right: -6em;
  }

  .link {
    right: 7.75em;
  }
}

@media (min-height: 736px) {
  .link {
    right: 8.75em;
  }
}

@media (min-height: 812px) {
  .alexdrawing {
    grid-row: 2 / 3;
    right: -5em;
    width: calc(35vw + 3em);
  }

  .link {
    grid-row: 3 / 3;
    right: 6.75em;
    top: 7.5em;
  }

  .linkbtn {
    width: 12em;
  }
}

@media (min-height: 823px) {
  .alexdrawing {
    right: -6em;
  }

  .link {
    right: 7.75em;
  }
}

@media (min-height: 1024px) {
  .splitgrid {
    grid-template-rows: 50% 50%;
  }

  .alexdrawing {
    grid-row: 2 / 2;
    right: -5em;
    top: -2em;
    width: calc(35vw + 2em);
  }

  .link {
    grid-row: 2 / 2;
    right: 2.75em;
    top: 5.5em;
  }

  .linkbtn {
    width: 12em;
  }
}

@media (min-width: 1024px) {
  .splitgrid {
    grid-template-columns: 50% 50%;
    grid-template-rows: unset;
  }

  .homerise {
    justify-self: start;
  }

  .intro {
    grid-column: 1 / 2;
  }

  .alexdrawing {
    grid-column: 2 / 2;
    grid-row: unset;
    right: -5em;
    top: 0;
    width: 33vw;
  }

  .link {
    grid-column: 1 / 2;
    grid-row: unset;
    left: 0;
    top: 21em;
  }

  .linkbtn {
    width: 12em;
  }
}

@media (min-height: 1366px) {
  .splitgrid {
    grid-template-columns: 50% 50%;
    grid-template-rows: unset;
  }

  .homerise {
    justify-self: start;
  }

  .intro {
    grid-column: 1 / 2;
  }

  .alexdrawing {
    grid-column: 2 / 2;
    grid-row: unset;
    right: -5em;
    top: 5em;
    width: 33vw;
  }

  .link {
    grid-column: 1 / 2;
    grid-row: unset;
    left: 0;
    top: 27.5em;
  }

  .linkbtn {
    width: 12em;
  }
}